/* All of the styles for Sheng Sheng */
@charset "utf-8";

/* CSS Reset */
/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

.sheng-section {
    /* width: 480px; */
    margin: 0 auto;

}

article {
    display: block;
}

.item_anchor {
    display: flex;
    position: relative;
}

.list-grid-with-top {
    flex-direction: column;
}

.list-grid-with-following {
    flex-direction: row-reverse;
    justify-content: space-between
}

.item-topic-politics .item_title-wrapper {
    width: 100%;

}

.item_title-wrapper {
    width: 60%;
}

.images-container {
    width: 40%;
}

img {
    width: 100%;
    height: auto;
}

/* h3 {
    text-align: center;
} */
.heading_topstories {
    display: flex;
    justify-content: left;
    align-items: center;
}

.images-container {
    max-width: 320px;
    /* height: 90px; */
    /* object-fit: fill; */

    /* border: 1px solid red; */
}

.topstories_title {
    font-size: 1.5rem;
    line-height: 1.09;
    font-weight: 700;
    margin: 0 0 15px 0
}


.item_head {
    font-size: 1.07rem;
    line-height: 1.18;
    font-weight: 700;
    text-decoration: none;
    color: black;
    width: 100%;
}


.underline-controller {
    text-decoration: none;
}

.underline-controller:hover {
    text-decoration: underline;

}

.underline-controller:hover .item_metadata li.item_data:hover {
    text-decoration: none !important;

}

.topstories_title {
    color: var(--accent-color);
}

.paragraph-hide {
    display: none;
    color: var(--accent-color);
}

.item {
    margin-bottom: 15px;
}

.list-grid-with-following .item_head {
    font-size: 0.9rem;
}

.item_metadata {
    font-size: 0.8rem;
}


div>h1 {
    color: var(--accent-color);
}

.heading_topstories {
    font-size: var(--articleHeaderTextSize);
    font-weight: 700;
}



@media (max-width: 768px) {
    .sheng-section {
        width: 700px
    }
}


@media (max-width: 769px) {
    .sheng-section {
        width: 700px
    }
}


@media (min-width: 900px) {

    .sheng-section {
        width: 900px;

    }

    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 3fr 3fr 3fr;
        grid-gap: 20px;


    }

    .item-type-article {
        display: block;
        /* height: 100%; */
    }

    .paragraph-hide {
        display: contents;
    }

    .item-topic-politics {
        grid-column: 1 / span 2;
        grid-row: 1 /span 2;

    }

    .list-grid-with-following {
        display: flex;
        flex-direction: column;
    }

    .list-grid-with-following>.images-container {
        width: 100%;
    }

    .item_title-wrapper {
        width: 100%;

    }

    .list-grid-with-following .item_head {
        font-size: 1rem;
    }

    .item_metadata {
        font-size: 0.8rem;
    }

    .item-topic-politics .item_head {
        font-size: 1.6rem;
    }


}

@media (max-width: 480px) {
    .sheng-section {
        width: 400px
    }
}